*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading-primary {
  text-transform: uppercase;
  color: #655c56;
  margin-bottom: 3rem;
  backface-visibility: hidden; }
  .heading-primary-main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: movetoright;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 400; }

.text-center {
  text-align: center;
  top: 50%;
  left: 50%; }

body {
  font-family: "lato", sans-sries;
  font-weight: 400;
  line-height: 1.7;
  color: #655c56; }

@keyframes movetoright {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  70% {
    transform: translateX(0.7rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes movetoleft {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  70% {
    transform: translateX(-0.7rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes movetobottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    transform: translate(0);
    opacity: 1; } }

.btn {
  justify-content: sp; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 3.5rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }
  .btn-main {
    background-color: #655c56;
    color: #ccedd2; }
    .btn-main::after {
      background-color: #655c56; }
  .btn-animation {
    animation: movetobottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

.bg-video {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .75;
  backface-visibility: hidden;
  color: black; }
  .bg-video-content {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .bg-video-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15rem;
    justify-content: center;
    color: #F8F8F8; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(148, 211, 172, 0.4), rgba(204, 237, 210, 0.7)), url(/img/img4.jpg);
  background-size: cover;
  background-position: center; }
  .header-textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.about {
  padding: 15rem 15rem;
  height: 60vh;
  background-color: #effcef; }

.footer {
  background-color: black;
  position: relative;
  padding: 10rem; }

:root {
  --link-size: 64px;
  --trans-property: all 0.3s ease; }

.social-icons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.social-icon {
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size);
  height: var(--link-size);
  margin: 8px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  text-decoration: none;
  transition: var(--trans-property); }

.social-icon i {
  margin: auto;
  font-size: 24px;
  color: #67798e;
  z-index: 1;
  transition: var(--trans-property); }

.social-icon:after {
  content: "";
  width: var(--link-size);
  height: var(--link-size);
  position: absolute;
  transform: translate(0, var(--link-size));
  border-radius: 50%;
  transition: var(--trans-property); }

.social-icon.twitter:after {
  background-color: #1da1f2; }

.social-icon.github:after {
  background-color: #24292e; }

.social-icon.instagram:after {
  background-color: #ea4c89; }

.social-icon.facebook:after {
  background-color: #1769ff; }

.social-icon:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16); }

.social-icon:hover i {
  color: #fff; }

.social-icon:hover:after {
  transform: translate(0) scale(1.2); }
